{% extends "layout.html" %}
{% block content %}


    <div style="display: flex; margin-right: 100px;margin-left: 100px; margin-top: 40px">

        <div style="width: 300px; border-radius: 10px; border: 1px solid #818181; padding: 20px">
            <h5>Kategoriler</h5>
            <ul>
                {% for category in result_categories %}
                    <li><b>{{ category[0] }}</b></li>
                {% endfor %}
            </ul>

        </div>
        <div style="width: 70%; height: 500px;">
            <div style="width: 100%; height: 30px; border-radius: 10px; border: 1px solid #818181; margin-left: 40px"></div>

            <div style="display: grid; grid-template-columns:  350px 350px 350px; gap:20px; margin-left: 20px; padding-top: 20px">
                {% for product in result_products %}
                    <a href="product/{{ product[0] }}" style="padding:20px ">
                        <div class="card" style="height: 400px; width: 300px; padding: 20px">
                            <img class="card-img-top" src="{{ product[4] }}" style="width: 100%">
                            <div class="card-body">
                                <h5 class="card-title">{{ product[1] }}</h5>
                                <b>{{ product[3] }}₺</b>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}